@tailwind base;
@tailwind components;
@tailwind utilities;


img {
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}

.popular-container {
    display: flex;
}

.card-wrapper {
    display: flex;
    height: 100%;
    padding: 10px; /* Optional: Add some spacing between cards */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}
.title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
}
