@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Josefin Sans', cursive;
  }

img {
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}

.popular-container {
    display: flex;
}

.card-wrapper {
    display: flex;
    height: 100%;
    padding: 10px; /* Optional: Add some spacing between cards */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}
.title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
}
.latest{
    transform: scale(0.8, 0.8); /* sets all slides to a scaling of 0.8 (80%) */
    display: inline-flex;  /* used for all slides vertical align center */
    vertical-align: middle; /* used for all slides vertical align center */
  }
.drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
* {
  user-select: none;
}